.book-list ul {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 60px;
  padding: 10px;
  background-color: var(--ocean-blue);
}
.book-list ul li {
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding: 10px;
  background-color: var(--air-force-blue);
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.book-list ul li:hover {
  transform: scale(1.05);
}

.book-list li h2 {
  text-align: center;
  margin-top: 0;
  height: 2.3em;
}
.book-list li h2:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.book-list ul li .actions {
  display: flex;
  justify-content: space-between;
}
